{% extends 'base.html.twig' %}


{% block body %}
	<h1>ShortX</h1>
	<h2>The best URL shortener</h2>
	{{form_start(form)}}
	{{form_widget(form.original)}}

	{% for error in form.original.vars.errors %}
		<div class="error-message">
			{{error.message}}
		</div>
	{% endfor %}
	{{form_end(form)}}
{% endblock %}
