<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}ShortX
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
		rel="icon" href="{{asset('icon-urls-6.jpg')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{asset('css/app.css')}}">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script>
				document.addEventListener("DOMContentLoaded", function (event) {
let date = document.getElementById('date')
date.innerHTML = new Date().getFullYear()
});
			</script>
		{% endblock %}
	</head>
	<body>
		<main role="main" class="wrapper"> {% block body %}{% endblock %}
			</main>
			<footer>
				©
				<span id="date"></span>
				-
				<a href="https://timotheegrollier.github.io/Portfolio/">Timothée Grollier</a>
			</footer>
		</body>
	</html>
